.counter-container {
    display: flex;
    flex-direction: column;
  }

.counter-item {
  flex-grow: 1;
  padding: 5px;
}

.counter-name {
  display: inline;
}

.multiplier {
  display: none;
}

.clicks {
  display: none;
}