.counter-container {
    display: flex;
    flex-direction: column;
  }

.counter-item {
  flex-grow: 1;
  padding: 5px;
}

.counter-name {
  display: inline-flex;
  font: Arial;
  text-decoration: overline underline double aqua;
  /* color: blueviolet; */
  /* text-shadow: blueviolet; */
  /* text-emphasis: bold; */
  /* text-decoration: dashed; */
}

.multiplier {
  display: none;
}

.clicks {
  display: none;
}


.btn {
  color:#333333;
  background-color: #d2dcf8; 
  border-radius: 10px;
  outline: none;
}

.click-btn {
  display: inline-flex;
  margin: 0.5em;
  /* padding: 5px; */
  /* border: 5px; */
}

.btn:hover {
  color: red;
}

.click-btn:active {
  color: blue;
}

.level-btn {
  display: inline-flex;
}

.tick-btn {
  display: inline-flex;
}