.scrolly {
  overflow-y: auto;
  height: 75vh;
  border: 5px solid rgb(33, 89, 243)
}

.scroller-container {
  display: flex;
  flex-direction: column;
}

.scroller-item {
  flex-grow: 1;
  padding: 5px;
}