/* this will include pretty much everything */
body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* unsure */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* all the lower game area */
.container {
  display: flex;
  flex-direction: row;
  background-color: #2196F3;
  padding-top: 5px;
}

/* each game section  */
.item {
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  /* font-size: 1.3em; */
  /* text-align: center; */
}

/* includes the click count and all the game below */
.outer-container {
  display: flex;
  flex-direction: column;
  background-color: #2196F3;
  padding: 5px;
}

/* basically just the click count */
.upper-item {
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 20px;
  text-align: center;
}